*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.burger-button {
  display: none;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  z-index: 3;
}
@media (max-width: 945px) {
  .burger-button {
    display: block;
    height: 16px;
    width: 20px;
    border-bottom: 3px solid #4B2E28;
  }
}

.burger-button::before {
  content: "";
  height: 3px;
  width: 20px;
  background: #4B2E28;
  position: absolute;
  top: 60%;
  right: 0;
}

.burger-button::after {
  content: "";
  height: 3px;
  width: 20px;
  background: #4B2E28;
  position: absolute;
  top: 20%;
  right: 0;
}

.burger-menu {
  position: fixed;
  top: 80px;
  left: 0;
  height: 100vh;
  width: 280px;
  background-color: #F5D7B5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -ms-flex-preferred-size: 20px;
      flex-basis: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.202);
  visibility: hidden;
}

.burger-menu:hover::after {
  visibility: visible;
}

.burger-menu .menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.burger-menu .menu .link:hover {
  text-decoration: none;
}

.burger-menu .contact-block {
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-preferred-size: 20px;
      flex-basis: 20px;
}

.burger-opened .burger-menu {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.burger-opened .burger-button {
  border-bottom: none;
}

.burger-opened .burger-button::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.burger-opened .burger-button::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.burger-menu > .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  background-color: #F5D7B5;
}

.header-container {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 1.5625rem 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.375rem;
}
@media (max-width: 55.375rem) {
  .header-container .nav {
    gap: 1.25rem;
  }
}
.header-container .logo-image {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 12.3125rem;
}

.logo {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.logohover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.list-item > .link {
  font-weight: 600;
  font-size: 1.25rem;
  color: #4B2E28;
  line-height: 1;
  text-transform: uppercase;
}
.list-item > .link:hover {
  text-decoration: underline;
  cursor: -webkit-grab;
  cursor: grab;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
@media (max-width: 51.625rem) {
  .nav .nav-list {
    display: none;
  }
}
.nav .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}
@media (max-width: 51.625rem) {
  .nav .logo-box {
    display: none;
  }
}

.burger-menu .list-item {
  margin-bottom: 1.5625rem;
}
.burger-menu .logo-box-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.hero-section {
  background-color: #F5D7B5;
}

.hero-container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 10rem 0.9375rem 5rem 0.9375rem;
}
@media (max-width: 50rem) {
  .hero-container {
    padding: 7.5rem 0.9375rem 2.5rem 0.9375rem;
  }
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 35rem) {
  .title-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 35rem) {
  .title-container .title-image {
    max-width: 25rem;
    max-height: 25rem;
  }
}

.title-block {
  max-width: 25.5rem;
}

.title-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; /* flex-grow: 1; flex-shrink: 1; flex-basis: auto; */
  min-width: 0;
}

.title {
  font-weight: 600;
  color: #4B2E28;
  font-size: 3.75rem;
  line-height: 1.2;
  margin-bottom: 0.875rem;
}
@media (max-width: 50rem) {
  .title {
    font-size: 2.625rem;
  }
}
@media (max-width: 25.8125rem) {
  .title {
    font-size: 2rem;
  }
}

.subtitle {
  color: #4B2E28;
  font-weight: 400;
  max-width: 25.5rem;
  font-size: 1.625rem;
  line-height: 1.4;
  margin-bottom: 2.1875rem;
}
@media (max-width: 50rem) {
  .subtitle {
    font-size: 1.125rem;
  }
}

.button, .form-button {
  border-radius: 16px;
  background-color: #4B2E28;
  color: #F5D7B5;
  padding: 1rem 1.875rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.button:hover, .form-button:hover {
  background: #472a24;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 50rem) {
  .button, .form-button {
    font-size: 1rem;
  }
}
@media (max-width: 44.375rem) {
  .button, .form-button {
    padding: 0.625rem 0.9375rem;
  }
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 38.375rem) {
  .info-container {
    padding-top: 0.625rem;
  }
}
.info-container .info-number {
  color: #4B2E28;
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0.3125rem;
}
.info-container .info {
  color: #4B2E28;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
}

.drinks-and-desserts-section {
  background-color: #E6B98A;
}

.drinks-and-desserts-container {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 5rem 0.9375rem;
}
@media (max-width: 44.375rem) {
  .drinks-and-desserts-container {
    padding: 2.5rem 0.9375rem;
  }
}
.drinks-and-desserts-container .drinks-and-desserts-title {
  color: #4B2E28;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 3.875rem;
  text-align: center;
}
@media (max-width: 44.375rem) {
  .drinks-and-desserts-container .drinks-and-desserts-title {
    font-size: 2rem;
    margin-bottom: 1.375rem;
  }
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34.375rem, 1fr));
  gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: stretch;
}
@media (max-width: 73.4375rem) {
  .grid-list {
    grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
  }
}
@media (max-width: 50rem) {
  .grid-list {
    grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
    gap: 1.25rem;
  }
}
.grid-list .products-list-item:nth-child(3) {
  grid-column: span 2;
}
@media (max-width: 39.375rem) {
  .grid-list .products-list-item:nth-child(3) {
    grid-column: span 1;
    justify-self: center;
  }
}

.products-list-item {
  border: 2px solid #4B2E28;
  border-radius: 2rem;
  padding: 1.875rem;
  width: 100%;
  height: 100%;
}
@media (max-width: 50rem) {
  .products-list-item {
    padding: 0.625rem;
  }
}
.products-list-item .link-product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.products-list-item .link-product-item .product-description:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.products-list-item .link-product-item .button {
  -ms-flex-item-align: center;
      align-self: center;
}

.product-title {
  color: #4B2E28;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 62.1875rem) {
  .product-title {
    font-size: 1.375rem;
  }
}
@media (max-width: 50rem) {
  .product-title {
    font-size: 1.25rem;
  }
}

.product-description {
  color: #4B2E28;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
}
@media (max-width: 62.1875rem) {
  .product-description {
    font-size: 1rem;
  }
}

.our-team-section {
  background-color: #F5E5D0;
}

.our-team-container {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 5.3125rem 0.9375rem 5rem 0.9375rem;
}
@media (max-width: 60.75rem) {
  .our-team-container {
    padding: 2.5rem 0.9375rem 2.5rem 0.9375rem;
  }
}

.team-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3.375rem;
  margin-bottom: 5rem;
}
@media (max-width: 60.75rem) {
  .team-description {
    gap: 1.25rem;
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 46.0625rem) {
  .team-description {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.bold {
  font-weight: 700;
}

.team-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; /* flex-grow: 1; flex-shrink: 1; flex-basis: auto; */
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 68.5rem) {
  .team-image {
    max-width: 450px;
  }
}
@media (max-width: 977px) {
  .team-image {
    max-width: 350px;
  }
}
@media (max-width: 46.0625rem) {
  .team-image {
    margin: auto;
  }
}
@media (max-width: 46.0625rem) {
  .team-image {
    width: 280px;
    height: 190px;
  }
}

.team-description-title {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #4B2E28;
  margin-bottom: 3.875rem;
}
@media (max-width: 60.75rem) {
  .team-description-title {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
  }
}

.team-description-text {
  -ms-flex-item-align: center;
      align-self: center;
}
.team-description-text .text {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
}
.team-description-text .text:first-child {
  margin-bottom: 0.9375rem;
}
@media (max-width: 60.75rem) {
  .team-description-text .text {
    font-size: 1rem;
  }
}

.team-form-container {
  border: 2px solid #4B2E28;
  border-radius: 2rem;
  padding: 1.875rem 0;
}
.team-form-container .team-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-block {
  width: 36.3125rem;
  margin: 0 auto;
}
@media (max-width: 40.1875rem) {
  .form-block {
    max-width: 100%;
  }
}

.form-title {
  color: #4B2E28;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.125rem;
}
@media (max-width: 50rem) {
  .form-title {
    margin-bottom: 1.25rem;
    font-size: 1.375rem;
  }
}

@media (max-width: 50rem) {
  .form-block {
    padding: 0 1.875rem;
  }
}

.head-block > .text {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #4B2E28;
  width: 44.125rem;
  margin-bottom: 1.875rem;
}
@media (max-width: 50rem) {
  .head-block > .text {
    width: auto;
    font-size: 1rem;
    padding: 0.625rem;
  }
}

label {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1;
  color: #4B2E28;
  margin-bottom: 0.25rem;
}

::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  color: #D9C3A5;
}

::-moz-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  color: #D9C3A5;
}

:-ms-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  color: #D9C3A5;
}

::-ms-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  color: #D9C3A5;
}

::placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  color: #D9C3A5;
}

input, textarea {
  border: 1px solid #4B2E28;
  background-color: white;
  border-radius: 0.375rem;
  padding: 0.75rem;
}

input {
  margin-bottom: 1.25rem;
}

textarea {
  margin-bottom: 1.875rem;
  resize: vertical;
}

.news-section {
  background-color: #F5D7B5;
  padding: 5rem 0;
}
@media (max-width: 64rem) {
  .news-section {
    padding: 2.5rem 0;
  }
}

.news-container {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}
.news-container .news-title {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 3.875rem;
  color: #4B2E28;
  text-align: center;
}
@media (max-width: 64rem) {
  .news-container .news-title {
    margin-bottom: 2rem;
  }
}
@media (max-width: 56.75rem) {
  .news-container .news-title {
    font-size: 1.625rem;
  }
}
.news-container .news-block-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
@media (max-width: 60.625rem) {
  .news-container .news-block-container {
    gap: 0.625rem;
  }
}
@media (max-width: 50rem) {
  .news-container .news-block-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.news-container .news-block-container .news-block {
  border: 2px solid #4B2E28;
  border-radius: 2rem;
  padding: 1.25rem;
}
@media (max-width: 20.625rem) {
  .news-container .news-block-container .news-block {
    padding: 0.625rem;
  }
}
.news-container .news-block-container .news-block:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
@media (max-width: 28.75rem) {
  .news-container .news-block-container .news-block:first-child {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.news-container .news-block-container .news-block .news-description-title {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #4B2E28;
}
@media (max-width: 60.625rem) {
  .news-container .news-block-container .news-block .news-description-title {
    padding: 1.25rem 0;
    font-size: 1.5rem;
  }
}
@media (max-width: 44.375rem) {
  .news-container .news-block-container .news-block .news-description-title {
    padding: 0.625rem 0;
    font-size: 1.25rem;
  }
}
.news-container .news-block-container .news-block .text {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #4B2E28;
}
@media (max-width: 37.5rem) {
  .news-container .news-block-container .news-block .text {
    font-size: 1rem;
  }
}

.news-image:first-of-type {
  max-height: 24.6875rem;
}
@media (max-width: 56.25rem) {
  .news-image:first-of-type {
    max-height: 16.875rem;
    margin: auto;
  }
}
@media (max-width: 28.75rem) {
  .news-image:first-of-type {
    max-height: 100%;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media (max-width: 62.5rem) {
  .second-image {
    width: 100%;
    max-height: 100%;
  }
}

.news-block > .news-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 56.25rem) {
  .news-block > .news-description {
    max-width: 100%;
  }
}

.footer {
  background-color: #F5D7B5;
}
.footer .footer-container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 1.375rem 0.9375rem;
}

.location-name {
  color: #4B2E28;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.125rem;
}
@media (max-width: 48.125rem) {
  .location-name {
    margin-bottom: 0.9375rem;
    font-size: 1.375rem;
  }
}
@media (max-width: 27.5rem) {
  .location-name {
    font-size: 1.125rem;
  }
}

.location-container {
  max-width: 100vw;
  margin: 0;
  min-width: 100%;
}
.location-container .iframe {
  width: 100vw;
  height: 23.6875rem;
}
@media (max-width: 37.9375rem) {
  .location-container .iframe {
    height: 12.5rem;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6.25rem;
  padding: 1.375rem 0;
}
@media (max-width: 33.4375rem) {
  .footer-container {
    padding: 0.625rem 0;
    gap: 2.5rem;
  }
}
@media (max-width: 27.5rem) {
  .footer-container .logo-image {
    width: 9.375rem;
    height: 1.875rem;
  }
}
.footer-container .footer-text {
  color: #4B2E28;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      align-self: center;
}
@media (max-width: 48.125rem) {
  .footer-container .footer-text {
    font-size: 1rem;
  }
}